* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1f2632;
  font-family: "Arial", sans-serif;
  color: #c5c6c7;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
  background-color: #323a49;
  padding: 40px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  position: relative;
}

.advice-id {
  font-size: 0.875rem;
  color: #53ffaa;
  letter-spacing: 0.1rem;
  margin-bottom: 20px;
}

.advice-text {
  font-size: 1.5rem;
  color: #c5c6c7;
  margin: 20px 0;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #444c56;
  margin: 20px 0;
}

.dice-button {
  background-color: #53ffaa;
  border: none;
  border-radius: 50%;
  padding: 20px;
  cursor: pointer;
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  transition: transform 0.2s;
}

.dice-button:hover {
  transform: translateX(-50%) rotate(360deg);
}

.dice-button img {
  width: 20px;
  height: 20px;
}
